{% extends 'base.html' %}

{% block content %}
{{ super() }}
<body>
  <div class="head">
      {{curdir}}
      <a href="{{up_dir}}"><img src="/static/up.png" class="up_button"></a>
  </div>
  <div class="dirlist_table">
      <div class="dirlist_header_row">
          <div class="dirlist_header first">Type</div>
          <div class="dirlist_header">Name</div>
      </div>
      {% for subdir in subdirs %}
      <a href="{{subdir.href_path}}" class="dir_link">
      <div class="dirlist_row">
          <div class="dirlist_type first"><img src="{{subdir.type_icon}}" alt="{{subdir.type}}"></div>
          <div class="dirlist_name">{{subdir.name}}</div>
      </div>
      </a>
      {% endfor %}
  </div>
</body>
{% endblock %}
